pkgbase = stashee
	pkgdesc = Glass-styled tiling terminal workspace over tmux
	pkgver = 0.1.4
	pkgrel = 1
	url = https://github.com/eeegoloauq/stashee-terminal
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	depends = gtk4
	depends = libadwaita
	depends = vte4
	depends = tmux
	optdepends = wl-clipboard: mouse-selection copy on Wayland
	optdepends = xclip: mouse-selection copy on X11
	source = stashee-0.1.4.tar.gz::https://github.com/eeegoloauq/stashee-terminal/archive/v0.1.4.tar.gz
	sha256sums = 41a5bdf74761ec03989a35702393e7ea00272228ede21f3a4d711168cd9dce67

pkgname = stashee
